# mac / IDE
.project
.settings
nbproject
.idea
.DS_Store

# config files
config/config.json
config/data.json
config/thin.yml

# log stuff
log/*.log
log/matches/*.log

# other files
tmp
logs
nohup*
data/*.json
data/user/*.json
data/link/*.json
data/matches/*.json

# other ruby-specific files
*.gem
.rvmrc
coverage/
doc
rdoc
pkg/
projectFilesBackup/
.yardoc
.bundle
.rubyversion
.ruby-version
Gemfile.lock
.autotest
rspec_results.html
spec/rspec_results.html
