# mac / IDE
.project
.settings
nbproject
.idea
.DS_Store

# config files
config/config.json
config/data.json

# other files
tmp
logs
nohup*
data/*.json
data/user/*.json
data/link/*.json
data/matches/*.json

# other ruby-specific files
*.gem
coverage/
doc
rdoc
pkg/
.yardoc
.bundle
Gemfile.lock
.autotest
rspec_results.html
spec/rspec_results.html